
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

# Datasets & outputs
data/*.parquet
data/*.zst
outputs/
checkpoints/
hf_cache/
models/
tokenizers/

# Notebooks
.ipynb_checkpoints/
notebooks/download*.*

# OS
.DS_Store
